{% extends "base.html" %}

{% block content %}
    <form class="form-inline" action="/books" method="post">
      <label for="title">Title</label>
      <input type="text" name="title" id="title">
      <label for="author">Author</label>
      <input type="text" name="author" id="author">
      <label for="date">Date</label>
      <input type="date" name="date" id="date">
      <label for="genre">Genre</label>
      <input type="text" name="genre" id="genre">
      <label for="checkedin">Checked In?</label>
      <input type="checkbox" name="checkedin" id="checkedin">
      <label for="description">Description</label>
      <textarea name="description" rows="2" cols="30"></textarea>
      <input type="submit" value="Add book">
    </form> <!-- ADDED -->
    <div class="book-container">
    {% for book in books %}
    <div class="book">
      <img class="book-thumb" src="">
      <h2><a href="{{ url_for('show_book', book_id=book.id) }}">{{ book.title }}</a></h2>
      <h4>{{ book.author }}</h4>
      <h4>Release Date: {{ book.date.strftime("%b %d %Y") }}</h4>
      <h4>Genre: {{ book.genre }}</h4>

          {% if book.checkedin %}
          <p><i>Checked In </i></p>
            {% else: %}
            <p><i>Checked Out </i></p>
          {% endif %}

          <form class="form-inline-delete" action="/books/delete/{{ book.title }}" method="POST">
            <input type="submit" value="Delete">
          </form>
    </div>
    {% endfor %}
    </div>
{% endblock %}
