{% extends "base.html" %}

{% block content %}
    <h1>Upcoming Books!</h1>

    <form class="form-inline" action="/add-book" method="post">
      <label for="title">Title</label>
      <input type="text" name="title" id="title">
      <label for="author">Author</label>
      <input type="text" name="author" id="author">
      <label for="date">Date</label>
      <input type="date" name="date" id="date">
      <label for="genre">Genre</label>
      <input type="text" name="genre" id="genre">
      <label for="checkedin">Checked In?</label>
      <input type="checkbox" name="checkedin" id="checkedin">
      <label for="description">Description</label>
      <textarea name="description" rows="2" cols="30"></textarea>
      <input type="submit" value="Add book">
    </form>
    
    <div class="book-container">
    {% for book in books %}
    <div class="book">
      <h2>{{ book.title }}</h2>
      <h3>{{ book.author }}</h3>
      <h4>Release Date: {{ book.date.strftime("%b %d %Y") }}</h4>
      <h5>Genre: {{ book.genre }}</h5>

          {% if book.checkedin %}
          <p><i>Checked In </i></p>
          {% endif %}

          <form class="form-inline" action="/delete/{{ book.title }}" method="POST">
            <input type="submit" value="Delete">
          </form>
    </div>
    {% endfor %}
    </div>
{% endblock %}
